body {
    background-image: url(/Lab2/SmartPhoneProducts1/images/neo_phone.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 800px;
    margin: 0 auto;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

p {
    text-align: center;
    color: rgba(230, 197, 238, 0.747);
    font-size: 15 px;
    font-family: Arial, Helvetica, sans-serif

}

h1 {
    text-align: center;
    color: rgb(185, 62, 216);
    font-size: 30 px;
    font-family: Arial, Helvetica, sans-serif
}

h2 {
    text-align: center;
    color: rgb(172, 98, 190);
    font-size: 20 px;
    font-family: Arial, Helvetica, sans-serif
}

img {
    display: block;
    border: 5px solid rgb(82, 23, 100);
    border-radius: 10 px;
    margin-left: auto;
    height: 200px;
    width: 200px;
}

img:hover {
    box-shadow: 0 0 5px 1px rgb(141, 68, 141);
}

div {
    display: flex;
}