body {
    width: 800 px;
    margin: 0 auto;
    background: rgb(158, 26, 52);
    text-align: center;
}

h1 {
    color: silver;
    align: center;
}

}

img {
    align: center;
    border: 5px solid silver;
    border-radius: 10 px;
}